@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark" navbar-dark>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a asp-action="index" asp-controller="home" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a asp-action="question" asp-controller="question" class="nav-link">Vragen</a>
            </li>
            <li class="nav-item">
                <a asp-action="category" asp-controller="category" class="nav-link">Categorieën</a>
            </li>
            <li class="nav-item">
                <a asp-action="coupling" asp-controller="coupling" class="nav-link">Categorie aan tijdperk koppelen</a>
            </li>
        </ul>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
