
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/_Layout.cshtml";
}

<h2 style="text-align:center; margin-top: 10%; margin-bottom:5%">Welkom op de docentenwebsite van HistoCity</h2>

<img style="margin:auto; display:block;" src="~/img/histocity_title.PNG" />

<h4 style="text-align:center; margin-top: 5%;">Klik rechtsboven op inloggen om verder te gaan.</h4>