@model IEnumerable<Histocity_Website.Models.Student>

@{
    ViewBag.Title = "Leerlingen";
    Layout = "~/Views/_Layout.cshtml";
}

<h1>Leerlingen</h1>
<p>Stuur deze link naar je leerlingen:</p>
<a>https://histocity.herokuapp.com/student/add/?teacherID=@ViewBag.TeacherID</a>
<br /><br /><br />
<h3>Leerlingen met Account:</h3>
<table class="table">
    <thead>
        <tr>
            <th>Voornaam</th>
            <th>Achternaam</th>
            <th>Gebruikersnaam</th>
        </tr>
    </thead>

    @foreach (var student in Model)
    {
<tr>
    <td>@Html.DisplayFor(studentItem => student.FirstName)</td>
    <td>@Html.DisplayFor(studentItem => student.LastName)</td>
    <td>@Html.DisplayFor(studentItem => student.UserName)</td>
</tr>
    }

</table>