
@{
    ViewBag.Title = "Question";
    Layout = "~/Views/_Layout.cshtml";
}

<h1>Leerlingen</h1>
<p>Stuur deze link naar je leerlingen:</p>
<a>https://histocity.herokuapp.com/student/add/@ViewBag.TeacherID</a>